spring:
  profiles:
    active: local
  main:
    web-application-type: servlet

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  data:
    redis:
      host: localhost
      port: 6379
  security:
    user:
      name: ${SECURITY_USER}
      password: ${SECURITY_PASSWORD}
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - profile_image
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jwt:
  access:
    secret: ${JWT_ACCESS_SECRET}
    expiration-ms: ${JWT_ACCESS_EXPIRATION_MS}
  refresh:
    secret: ${JWT_REFRESH_SECRET}
    expiration-ms: ${JWT_REFRESH_EXPIRATION_MS}


oauth:
  google:
    client-id: ${spring.security.oauth2.client.registration.google.client-id}
  kakao:
    user-info-uri: ${spring.security.oauth2.client.provider.kakao.user-info-uri}

logging:
  level:
    org.springframework.security: DEBUG